a{
    text-decoration: none;
    color: black;
}
.btn:hover a{
    color: white !important;
}
.addIcon{
  bottom: 5%;
  right: 1%;
  z-index: 3;
  cursor: pointer;
  height: 50px !important;
  padding: 5px !important;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}


